<%- include('partials/header') %>
	<div class="ui container">
		<form class="ui form" method="POST" action="/tasks/<%= taskRecord.Pk_Id %>?_method=PUT" id="theForm">
			<div class="ui grid">
			  <div class="three wide computer three wide tablet sixteen wide mobile column">
			    <div class="ui vertical fluid menu">
					  <div class="item stackUp">
					    <span class="_info red">Broj taska: </span><%= taskRecord.Broj %>
					  </div>
					  <div class="item">
					    <span class="_info red">Datum: </span><%= taskRecord.Datum %>
					  </div>
					  <div class="item">
					    <span class="_info red">Radnik: </span><%= taskRecord.RadnikIme %>
					  </div>
					  <!-- <a class="item notclicable">
					    <span class="_info red">Sifra radnika: </span><%= taskRecord.RadnikSifra %>
					  </a> -->
					</div>
			  </div>
			  <div class="thirteen wide computer thirteen wide tablet sixteen wide mobile column">
			  	<h3 class="ui dividing header">
			  		<div class="ui horizontal red label">Partner:</div><span><%= taskRecord.Naziv %> (Š: <%= taskRecord.Sifra %>)</span>
			  		<!-- <div class="ui horizontal red label">Sifra partnera:</div> <%= taskRecord.Sifra %> -->
			  	</h3>
			  	<br/>
		      <div class="ui grid">
		      	<!-- block of unchangeable fields -->
		      	<div class="sixteen wide stretched column">
	      			<div class="two fields">
		      			<div class="field">
							    <label>Opis taska</label>
							    <textarea rows="8" disabled="disabled"><%= taskRecord.Subject %></textarea>
							  </div>
							  <div class="field">
							    <div class="ui grid">
							    	<div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Plan od:</label>
											  <div class="ui calendar" id="PlanOd">
											    <div class="ui input left icon">
											      <i class="calendar icon"></i>
											      <input type="text" placeholder="Datum" value="<%= taskRecord.PlanOd %>" disabled>
										    	</div>
										  	</div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Plan od vreme:</label>
											  <div class="ui calendar" id="PlanOdVreme">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" placeholder="Vreme" value="<%= taskRecord.PlanOdVreme %>" disabled>
											    </div>
											  </div>
											</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Plan do:</label>
											  <div class="ui calendar" id="PlanDo">
											    <div class="ui input left icon">
											      <i class="calendar icon"></i>
											      <input type="text" placeholder="Datum" value="<%= taskRecord.PlanDo %>" disabled>
											    </div>
											  </div>
											</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Plan do vreme:</label>
											  <div class="ui calendar" id="PlanDoVreme">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" placeholder="Vreme" value="<%= taskRecord.PlanDoVreme %>" disabled>
											    </div>
											  </div>
											</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
								    		<label>Plan vreme</label>
											  <div class="ui calendar" id="PlanVreme">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" placeholder="Sati" value="<%= taskRecord.PlanVreme %>" disabled>
											    </div>
											  </div>
										  </div>
								    </div>
							    </div>
							  </div>
						  </div>
						</div>
						<!-- end -->
						<!-- block of changeable fields -->
					  <div class="sixteen wide stretched column">
					  	<div class="two fields">
								<div class="field">
						      <label>Status</label>
							    <select class="ui fluid" id="taskStatus" name="task[Naziv_Stavke]">
							    	<% for (status of taskStatuses) { %>
							    		<% if (!taskRecord.fk_radnik && status.Pk_Id === 2243) { %> // kod preuzimanja predmeta postavljam status na 'dodeljen'
							    			<option value="<%= status.Pk_Id %>" selected><%= status.Naziv_Stavke %></option>
							    		<% } else if (status.Pk_Id === taskRecord.Fk_St_420) { %>
							    			<option value="<%= status.Pk_Id %>" selected><%= status.Naziv_Stavke %></option>
							    		<% } else { %>
							    			<option value="<%= status.Pk_Id %>"><%= status.Naziv_Stavke %></option>
							    		<% } %>
							    	<% } %>
							    </select>
						    </div>
						   	<div class="field">
						   		<div class="ui grid">
							    	<div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Započeo u:</label>
											  <div class="ui calendar" id="startAt">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text">
										    	</div>
										  	</div>
									  	</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Radio do:</label>
											  <div class="ui calendar" id="finishedAt">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text">
											    </div>
											  </div>
										  </div>
								    </div>
								  </div>
						    </div>
					    </div>
					  </div>
						<div class="sixteen wide stretched column">
	      			<div class="two fields">
		      			<div class="field">
							    <label>Komentar radnika</label>
							    <textarea rows="11" name="task[KomentarRadnika]" id="workerComment"><%= taskRecord.KomentarRadnika %></textarea>
							  </div>
							  <div class="field">
							    <div class="ui grid">
							    	<div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizovan od:</label>
											  <div class="ui calendar" id="workedFromDate">
											    <div class="ui input left icon">
											      <i class="calendar icon"></i>
											      <input type="text" placeholder="Datum" name="task[RealizovanOd]" value="<%= taskRecord.RealizovanOd %>">
											      <a class="right attached ui red icon button nowBtn" name="workedFromNow"><i class="checkmark box icon"></i></a>
										    	</div>
										  	</div>
									  	</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizovan od vreme:</label>
											  <div class="ui calendar" id="workedFromTime">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" placeholder="Vreme" id="RealizovanOdVreme" name="task[RealizovanOdVreme]" value="<%= taskRecord.RealizovanOdVreme %>">
											    </div>
											  </div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizovan do:</label>
											  <div class="ui calendar" id="workedUntilDate">
											    <div class="ui input left icon">
											      <i class="calendar icon"></i>
											      <input type="text" placeholder="Datum" name="task[RealizovanDo]" value="<%= taskRecord.RealizovanDo %>">
											      <a class="right attached ui red icon button nowBtn" name="workedUntilNow"><i class="checkmark box icon"></i></a>
											    </div>
											  </div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizovan do vreme:</label>
											  <div class="ui calendar" id="workedUntilTime">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" placeholder="Vreme" name="task[RealizovanDoVreme]" value="<%= taskRecord.RealizovanDoVreme %>">
											    </div>
											  </div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizacija dani</label>
											  <div class="ui calendar" id="daysOfWork">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" name="task[RealizacijaDani]" value="<%= taskRecord.RealizacijaDani %>">
											    </div>
											  </div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizacija vreme</label>
											  <div class="ui calendar" id="hoursOfWork">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" name="task[RealizacijaVreme]" value="<%= taskRecord.RealizacijaVreme %>" data-persisted-value="<%= taskRecord.RealizacijaVreme %>">
											    </div>
											  </div>
											</div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizacija dani vikend</label>
											  <div class="ui calendar" id="daysOfWorkWeekend">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" name="task[RealizacijaDaniVikend]" value="0">
											    </div>
											  </div>
										  </div>
								    </div>
								    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
								    	<div class="field">
									    	<label>Realizacija vreme vikend</label>
											  <div class="ui calendar" id="hoursOfWorkWeekend">
											    <div class="ui input left icon">
											      <i class="time icon"></i>
											      <input type="text" name="task[RealizacijaVremeVikend]" value="00:00" data-persisted-value="0">
											    </div>
											  </div>
											</div>
								    </div>
							    </div>
							    <div class="ui error message"></div>
							  </div>
						  </div>
						</div>
					  <!-- end -->
				  </div>
			  </div>
			  <!-- modal when comment not entered -->
			  <div class="ui basic comment modal">
			  	<div class="ui icon header">
            <i class="edit icon"></i>
          </div>
          <div class="content">
          	<p>Task nije komentarisan. Šta želite da uradite?</p>
          </div>
          <div class="actions">
            <div class="ui green cancel inverted button">Unesi komentar</div>
            <div class="ui red ok inverted button">Završi task</div>
          </div>
				</div>
			  <!-- modal end -->
			  <!-- modal for confirming save action -->
			  <div class="ui basic confirm modal">
			  	<div class="ui icon header">
            <i class="save icon"></i>
          </div>
          <div class="content">
          	<p>Da li ste sigurni da želite da završite task.</p>
          </div>
          <div class="actions">
            <div class="ui red cancel inverted button">
              <i class="remove icon"></i>
              Ne
            </div>
            <div class="ui green ok inverted button">
              <i class="checkmark icon"></i>
              Da
            </div>
          </div>
				</div>
			  <!-- modal end -->
			</div>
			<br/>
			<div>
				<% if (!taskRecord.fk_radnik) { %>
		   		<input type="submit" class="ui right floated inverted blue button" value="Preuzmi" id="assignIt" />
		    <% } else { %>
		  		<input type="submit" class="ui right floated inverted blue button" value="Sačuvaj" />
		  		<button id="finishIt" class="ui right floated inverted green button">Završi</button>
		  	<% } %>
		  	<a id="cancelUpdate" class="ui right floated inverted red button">Nazad</a>
		  </div>
		  <input type="hidden" value="<%= taskRecord.Pk_Id %>" name="task[Pk_Id]" />
		  <input type="hidden" value="<%= taskRecord.Fk_Partner %>" name="task[Fk_Partner]" />
		  <input type="hidden" value="<%= taskRecord.Fk_St_420 %>" name="task[Fk_St_420]" />
		  <% if (taskRecord.fk_radnik) { %>
	   		<input type="hidden" value="<%= taskRecord.fk_radnik %>" name="task[fk_radnik]" />
	    <% } else { %>
	    	<input type="hidden" value="<%= logged_fk_radnik %>" name="task[fk_radnik]" />
	   	<% } %>
		  <input type="hidden" name="task[RealizovanOdISO]" id="RealizovanOdISO" />
		  <input type="hidden" name="task[RealizovanDoISO]" id="RealizovanDoISO" />
		</form>
	</div>

  <script type="text/javascript">
  	$(document).ready(() => {
  		<% if (taskRecord.fk_radnik) { %>
  			$('.ui.basic.modal').modal({
  				closable: false,
  				onApprove: function() {
  					// if($("#workedUntilDate input").val() === "") {
				   //  	var evt = new MouseEvent('click', {
							// 	bubbles: false,
							// 	cancelable: true,
							// 	view: window
							// });
				  	// 	// simulate click event on workedUntilDate 'nowBtn'
							// document.querySelector("#workedUntilDate .nowBtn").dispatchEvent(evt);
			    // 	}
			    	$('#taskStatus').val('3101');
			    	$(".ui.form").submit();
  				}
  			});
  			
	  		$('.ui.form')
				  .form({
				    fields: {
				      name: {
				        identifier: 'task[RealizacijaVreme]',
				        rules: [
				          {
				          	type: 'regExp',
	        					// value: /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/,
	        					value: /^[0-9]?[0-9]:[0-5][0-9]$/,
				            prompt : '<b>{name}</b> must be in a format "hh:mm" or "h:mm"'
				          }
				        ]
				      }
				    }
				  });

	  		setupRealizationTimes();

	  		$('#PlanOd, #PlanDo').calendar({
				  type: 'date',
				  text: {
			      days: ['N', 'P', 'U', 'S', 'Č', 'P', 'S'],
			      months: ['Januar', 'Februar', 'Mart', 'April', 'Maj', 'Jun', 'Jul', 'Avgust', 'Septembar', 'Oktobar', 'Novembar', 'Decembar'],
			      monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Avg', 'Sep', 'Okt', 'Nov', 'Dec'],
			      today: 'Danas',
			      now: 'Sada',
			      am: 'AM',
			      pm: 'PM'
			    }
				});

				$('#workedFromDate, #workedUntilDate').calendar({
				  type: 'date',
				  text: {
			      days: ['N', 'P', 'U', 'S', 'Č', 'P', 'S'],
			      months: ['Januar', 'Februar', 'Mart', 'April', 'Maj', 'Jun', 'Jul', 'Avgust', 'Septembar', 'Oktobar', 'Novembar', 'Decembar'],
			      monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Avg', 'Sep', 'Okt', 'Nov', 'Dec'],
			      today: 'Danas',
			      now: 'Sada',
			      am: 'AM',
			      pm: 'PM'
			    } //,
			    // onChange: function (date, text, mode) {
	    		// 	if($(this).attr('id') === 'workedUntilDate') {
	    		//  		if (date != undefined) {
	    		//  			$('#taskStatus').val('3101');
	    		//  		} else {
	    		//  			$('#taskStatus').val('<%= taskRecord.Fk_St_420 %>');
	    		//  		}
	    		//  	};
	    	 //  }
				});

				$('#startAt').calendar({
				  type: 'time',
			    ampm: false,
			    endCalendar: $('#finishedAt'),
			    onChange: calcWorkedTime
			  });
			  $('#finishedAt').calendar({
				  type: 'time',
			    ampm: false,
			    startCalendar: $('#startAt'),
			    onChange: calcWorkedTime
			  });

				$('#workedFromTime, #workedUntilTime').calendar({
				  type: 'time',
			    ampm: false
				});

				document.getElementById('theForm').addEventListener('submit', () => {
		  		let workedFrom 			 = $("#workedFromDate").calendar('get date');
		  		let workedTo   			 = $("#workedUntilDate").calendar('get date'); 
		  		let workedFromTime   = $("input[name='task[RealizovanOdVreme]']"); 
		  		let workedUntilTime  = $("input[name='task[RealizovanDoVreme]']");
		  		let workedTime  		 = $("input[name='task[RealizacijaVreme]']");

		  		if(workedFrom != null) {
		  			$("#RealizovanOdISO").val(workedFrom.toISOString());
		  		}
		  		if(workedTo != null) {
		  			$("#RealizovanDoISO").val(workedTo.toISOString());
		  		}
		  		if(workedFromTime.val() != "") {
		  			formatOutgoingTime(workedFromTime);
		  		}
		  		if(workedUntilTime.val() != "") {
		  			formatOutgoingTime(workedUntilTime);
		  		}
		  		if(workedTime.val() != "") {
		  			formatOutgoingTime(workedTime);
		  		}
		  	});

		  	Array.prototype.slice.call(document.getElementsByClassName('nowBtn')).forEach((el) => {
		  		el.addEventListener('click', (e) => {
		  			let date = new Date();
		  			let targetName = e.target.parentElement.name || e.target.name;
		  			if(targetName === 'workedFromNow') {
		  				$("#workedFromDate, #workedFromTime").calendar('set date', date);
		  			} else {
		  				$("#workedUntilDate, #workedUntilTime").calendar('set date', date);
		  			}
		  		});
		  	});
			<% } else { %>
				setupRealizationTimes();
				$('#PlanOd, #PlanDo').calendar({
				  type: 'date',
				  text: {
			      days: ['N', 'P', 'U', 'S', 'Č', 'P', 'S'],
			      months: ['Januar', 'Februar', 'Mart', 'April', 'Maj', 'Jun', 'Jul', 'Avgust', 'Septembar', 'Oktobar', 'Novembar', 'Decembar'],
			      monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Avg', 'Sep', 'Okt', 'Nov', 'Dec'],
			      today: 'Danas',
			      now: 'Sada',
			      am: 'AM',
			      pm: 'PM'
			    }
				});
				disableInputs();
			<% } %>
  	});

  	document.getElementById('cancelUpdate').addEventListener('click', (e) => {
  		window.history.go(-1);
  	});

  	<% if (taskRecord.fk_radnik) { %>
  	document.getElementById('finishIt').addEventListener('click', (e) => {
  	 	e.preventDefault();
  	// 	// <a> element don't allow calling click() on it, so below is needed
  	// 	var evt = new MouseEvent('click', {
			// 	bubbles: true,
			// 	cancelable: true,
			// 	view: window
			// });
  	// 	// simulate click event on workedUntilDate 'nowBtn'
			// document.querySelector("#workedUntilDate .nowBtn").dispatchEvent(evt);

			// e.target.setAttribute('disabled', true);
			let comment = $("#workerComment").val();
			if (comment && comment != '') {
				$(".ui.basic.confirm.modal").modal("show");
			} else {
				$(".ui.basic.comment.modal").modal("show");
				document.getElementById("workerComment").focus();
			}
  	});
  	<% } %>

  	function calcWorkedTime(date, text, mode) {
  		let fromTime = null, untilTime = null, hours = null, minutes = null ;
			// if ($(this).attr('id') === 'workedUntilTime') {
			if ($(this).attr('id') === 'finishedAt') {
				fromTime   = $("#startAt").calendar('get date');
				untilTime  = date;
			} else {
				fromTime   = date;
				untilTime  = $("#finishedAt").calendar('get date');
			}

			if (fromTime && untilTime) {
				if (fromTime.getHours() > untilTime.getHours()) {
					hours = 24 + untilTime.getHours() - fromTime.getHours();
				} else {
					hours = untilTime.getHours() - fromTime.getHours();
				}

				if (fromTime.getMinutes() > untilTime.getMinutes()) {
					minutes = 60 + untilTime.getMinutes() - fromTime.getMinutes();
					if (hours) hours--;
				} else {
					minutes = untilTime.getMinutes() - fromTime.getMinutes();
				}

				let dayOfWeek = fromTime.getDay();
				if (dayOfWeek === 0 || dayOfWeek === 6) { // rad vikendom
					let calendar = $("input[name='task[RealizacijaVremeVikend]']");
					add2WorkedTimes(calendar, hours, minutes);
				} else {
					let calendar = $("input[name='task[RealizacijaVreme]']");
					add2WorkedTimes(calendar, hours, minutes);
				}
			} else {
				// one of the times is deleted, so reset realization time to the value previously saved, if any
				let calendar = $("input[name='task[RealizacijaVreme]']");
				calendar.val(formatIncomingTime(calendar.data("persistedValue").toString()));				
			}
  	}

  	function add2WorkedTimes(calendar, hours, minutes) {
  		let [currHours, currMinutes] = formatIncomingTime(calendar.data("persistedValue").toString()).split(":");
			currHours = parseInt(currHours);
			currMinutes = parseInt(currMinutes);

			if ((currMinutes + minutes) > 59) {
				currHours = currHours + hours + 1;
				currMinutes = (currMinutes + minutes) % 60;
			} else {
				currHours = currHours + hours;
				currMinutes = currMinutes + minutes;
			}

			if (currHours < 10) currHours = "0" + currHours;
			if (currMinutes < 10) currMinutes = "0" + currMinutes;
			calendar.val(currHours + ":" + currMinutes);
  	}

  	function formatIncomingTime(time) {
  		if (time != undefined && time != "") {
  			switch(time.length) {
  				case 4: 
  					return time.substr(0, 2) + ":" + time.substr(2);
  				case 3:
  					return "0" + time.charAt(0) + ":" + time.substr(1);
  				case 2:
  					return "00:" + time;
  				case 1:
  					return "00:0" + time;
  				default:
  					return "00:00";
  			}
  		}
  		return null;
  	}

  	function formatOutgoingTime(time) {
  		let timePartsArr = time.val().split(":");
			if (timePartsArr[0].length < 2) {
				timePartsArr[0] = "0" + timePartsArr[0];
				time.val(timePartsArr.join(":"));
			}
  	}

  	function setupRealizationTimes() {
  		let workedFromTime   = $("input[name='task[RealizovanOdVreme]']"); 
	  	let workedUntilTime  = $("input[name='task[RealizovanDoVreme]']");
	  	let workedTime  		 = $("input[name='task[RealizacijaVreme]']");

	  	workedFromTime.val(formatIncomingTime(workedFromTime.val()));
			workedUntilTime.val(formatIncomingTime(workedUntilTime.val()));
			workedTime.val(formatIncomingTime(workedTime.val()));
  	}

  	function disableInputs() {
  		// disable all inputs
  		$(".ui.form :input").prop('readonly', true);
  		$('#taskStatus option:not(:selected)').prop('disabled', true);
  		// disable 'nowBtn'
  		Array.prototype.slice.call(document.getElementsByClassName('nowBtn')).forEach((el) => {
	  		let clone = el.cloneNode();
				while (el.firstChild) {
				  clone.appendChild(el.lastChild);
				}
				el.parentNode.replaceChild(clone, el);
	  	});
  		// enable 'Preuzmi' button 
  		//$("#assignIt").prop('disabled', false);
		}
  </script>
<%- include('partials/footer') %>