<%- include('partials/header') %>

	<div class="ui hidden divider"></div>

	<!-- <div class="ui form container  js_mobileLayout"> -->
	<div class="ui form container" data-mobilelayout="true">
	    

	    	<div class="ui grid">
  				<div class="doubling two column row">

					<div class="seven wide column  ep_novitask grupa  active">

							<div class="field  ep_novitask 1_partneri">

								<h3 class="ui horizontal divider header"><i class="tag red icon"></i>Partner</h3>

								<div class="ui segment message">

							        <div class="ui">
								        <div class="ui fluid category search">
									        <div class="ui left icon input">
									            <input class="prompt" type="category" id="idPartner" data-validate="partnervalidation" data-partner-Pk_id="0" placeholder="Pretraga partnera, 3+ karaktera" autocomplete="off" required>
									            <i class="search icon"></i>
									        </div>
				  							<div class="results"></div>
								        </div>
								    </div>

									<div class="ui bottom right attached label" data-brzalistapartnera-visibility-toggler>
						   				<label>Brza lista</label>
						   			</div>
							        <div class="ui vertical segment transition _1_2_brzaListaPartnera">
										<select id="idPartneriBrzaLista" class="" size="5" >
										  <!-- <option class="item" data-partner-Pk_id="0">Idea</option> -->
										</select>
									</div>

								</div>

							</div><!-- field 1_partneri -->


							<div class="field  column  ep_novitask 5_status">

								<h3 class="ui horizontal divider header"><i class="tag red icon"></i>Status</h3>

								<!-- <div class="ui red ribbon label">
									<label>Status</label>
								</div> -->

								<div class="ui segment message">
								    <select class="ui fluid" id="taskStatus" name="task[Naziv_Stavke]" size="3">
								    	<% for (status of taskStatuses) { %>
								    		<% if (status.Pk_Id === 2242) { %>  <!-- na čekanju -->
								    			<option value="<%= status.Pk_Id %>"><%= status.Naziv_Stavke %></option>
								    		<% } else if (status.Pk_Id === 2243) { %>  <!-- dodeljen -->
								    			<option value="<%= status.Pk_Id %>" selected><%= status.Naziv_Stavke %></option>
								    		<% } else if (status.Pk_Id === 2244) { %>  <!-- u radu -->
								    			<option value="<%= status.Pk_Id %>"><%= status.Naziv_Stavke %></option>
								    		<% } %>
								    	<% } %>
								    </select>
								</div>

							</div>
						<!-- </div> -->
					</div>

					<div class="field  nine wide column  ep_novitask grupa _2_opis ">

						<!-- <div class="ep_novitask grupa"> -->
							<h3 class="ui horizontal divider header">
							  <i class="tag red icon"></i>
							  Opis
							</h3>

		        			<div class="ui top attached tabular menu">
								<div class="item <%= !opisActiveTab ? 'active' : opisActiveTab.substring(0,2) == 'cs' ? 'active' : '' %>" data-tab="cs">CS</div>
								<div class="item <%= opisActiveTab.substring(0,2) == 'hw' ? 'active' : '' %>" data-tab="hw">HW</div>
								<div class="item <%= opisActiveTab == 'ostalo' ? 'active' : '' %>" data-tab="ostalo">ostalo</div>
							</div>

							<div class="ui bottom attached tab segment active">

						        <div class="ui vertical tab basic segment <%= opisActiveTab ? opisActiveTab.substring(0,2) == 'cs' ? 'active' : '' : 'active' %>" data-tab="cs">

									<div class="ui pointing secondary tabular menu" id="cs">
								        <a class="item <%= opisActiveTab == 'cs-prob' || opisActiveTab == 'cs' || opisActiveTab.substring(0,2) != 'cs' ? 'active' : '' %>" data-tab="cs-prob">PROBLEMI</a>
								        <a class="item <%= opisActiveTab == 'cs-adm'                                                                   ? 'active' : '' %>" data-tab="cs-adm">ADM.</a>
								        <a class="item <%= opisActiveTab == 'cs-kor'                                                                   ? 'active' : '' %>" data-tab="cs-kor">KOREKCIJE</a>
							      	</div>

								    <div class="ui tab  doubling two column row <%= opisActiveTab == 'cs-prob' || opisActiveTab == 'cs' || opisActiveTab.substring(0,2) != 'cs' ? 'active' : '' %>" data-tab="cs-prob">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
			  									<option value="">opis problemi</option>
											  <option class="item">Problemi u radu na BO serveru</option>
											  <option class="item">Problemi u radu replike</option>
											  <option class="item">Problemi u radu kase</option>
											  <option class="item">Problemi prilikom punjenja vage</option>
											</select>
								    	</div>
								    </div>

								    <div class="ui tab  doubling two column row <%= opisActiveTab == 'cs-adm' ? 'active' : '' %>" data-tab="cs-adm">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
			  									<option value="">opis administracija</option>
											  <option class="item">Priprema nove kase</option>
											  <option class="item">Priprema radne stanice</option>
											  <option class="item">Priprema BO servera</option>
											  <option class="item">Otvaranje novih korisnika</option>
											  <option class="item">Otvaranje nohih kasira</option>
											  <option class="item">Dodeljivanje podsistema i prava korisniku</option>
											  <option class="item">Otvaranje nove organizacione jedinice</option>
											  <option class="item">Podešavanje šeme knjiženja</option>
											</select>
								    	</div>
								    </div>

								    <div class="ui tab  doubling two column row <%= opisActiveTab == 'cs-kor' ? 'active' : '' %>" data-tab="cs-kor">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
			  									<option value="">opis korekcije</option>
											  <option class="item">Brisanje dokumenta</option>
											  <option class="item">Brisanje akcije</option>
											  <option class="item">Otključavanje dokumenta</option>
											  <option class="item">Korekcija dokumenta</option>
											  <option class="item">Brisanje duplih recepata</option>
											  <option class="item">Brisanje duplih stavki recepata i rednih brojeva</option>
											  <option class="item">Brisanje višestruko insertovanih kalkulativnih elemenata</option>
											  <option class="item">Ponavljanje nivelacija</option>
											  <option class="item">Formiranje i ponavljanje početnog stanja (Robno i Finansijski)</option>
											  <option class="item">Otljučavanje evidencije računa</option>
											  <option class="item">Korekcija rasporeda radnika (Lasta)</option>
											  <option class="item">Korekcija računa, prijave rada i ponavljanje PBL-a</option>
											  <option class="item">Korekcija karneta</option>
											  <option class="item">Konsultacije</option>
											</select>
								    	</div>
								    </div>
								</div>


						        <div class="ui vertical tab basic segment <%= opisActiveTab.substring(0,2) == 'hw' ? 'active' : '' %>" data-tab="hw">

									<div class="ui pointing secondary tabular menu" id="hw">
								        <a class="item <%= opisActiveTab == 'hw-pc' || opisActiveTab == 'hw' || opisActiveTab.substring(0,2) != 'hw' ? 'active' : '' %>" data-tab="hw-pc">PC-LAN</a>
								        <a class="item <%= opisActiveTab == 'hw-fp' ? 'active' : '' %>" data-tab="hw-fp">FP</a>
							      	</div>

								    <div class="ui tab  doubling two column row <%= opisActiveTab == 'hw-pc' || opisActiveTab == 'hw' || opisActiveTab.substring(0,2) != 'hw' ? 'active' : '' %>" data-tab="hw-pc">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
										    	<option value="">opis pc\lan</option>
											  <!-- <option class="item">Zaglavljen fisk. p.</option>
											  <option class="item">Zaglavljen racun</option>
											  <option class="item">Restart kase</option>
											  <option class="item">Restart servera</option>
											  <option class="item">Touch screen problem</option>
											  <option class="item">Nema interneta</option> -->
												<option class="item">neispravan računar</option>
												<option class="item">neispravna kasa</option>
												<option class="item">neispravan monitor</option>
												<option class="item">nesipravan laserski štampač</option>
												<option class="item">neispravan fioka za novac</option>
												<option class="item">neispravan barkod čitač</option>
												<option class="item">neispravan ručni terminal</option>
												<option class="item">neispravan UPS</option>
												<option class="item">neispravna LAN mreža</option>
												<option class="item">neispravan price checker</option>
											</select>
								    	</div>
								    </div>

								    <div class="ui tab  doubling two column row <%= opisActiveTab == 'hw-fp' ? 'active' : '' %>" data-tab="hw-fp">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
										    	 <option value="">opis fp</option>
												<option class="item">neispravan mehanizam FP</option>
												<option class="item">neispravna matična ploča FP</option>
												<option class="item">neispravna fiskalna memorija</option>
												<option class="item">neispravno napajanje FP</option>
												<option class="item">neispravan displej FP</option>
												<option class="item">neispravan nož za papir</option>
												<option class="item">neispravan adapter za displej</option>
												<option class="item">neispravno kućište</option>
												<option class="item">resetovan FP</option>
												<option class="item">tehnički pregled FP</option>
											</select>
								    	</div>
								    </div>
								</div>


						        <div class="ui vertical tab basic segment <%= opisActiveTab == 'ostalo' ? 'active' : '' %>" data-tab="ostalo">
								    <div class="doubling two column row active">
								    	<div class="column">
										    <select class="ui fluid dropdown" name="task[Subject]">
										    	<option value="">opis ostalo</option>
										    	<!-- <option value="-1">-</option> -->
											  <option class="item">Restoran</option>
											  <option class="item">Hotel</option>

											  <option class="item">Brisanje duplih stavki dokumenta</option>
											  <option class="item">Promena broja dokumenta</option>
											  <option class="item">Iniciranje replike i upoređivanje broja dokumenata i recepata na BO i HO</option>
											  <option class="item">Prebačaj računa na drugu prijavu</option>
											</select>
								    	</div>
								    </div>
								</div>

							    <div class="doubling two column row">
							    	<div class="column">
							    		<textarea clas="doubling two column row" rows="6" id="taskSubject"  data-validate="subjectvalidation" required></textarea>
							    	</div>
							    </div>

							</div>
						<!-- </div> -->
					</div><!-- field _2_opis -->

			</div>

		</div>

<!-- 		<div class="ep_novitask grupa">
    		<div class="ui grid">
		    	<div class="doubling stackable two column row">

					<div class="ui hidden divider"></div>

				</div>
			</div>
		</div> -->


		<div class="ui grid container">
	   		<div class="computer tablet only row">
	   			<div class="right aligned column">
					<input type="submit" class="ui right floated inverted blue button  js_save" value="Sačuvaj"></div>
				</div>
			</div>
		</div>

	</div> <!-- form -->


    <!-- Mobile navigation -->
    <div class="ui borderless fixed bottom sticky  menu">
		<div class="ui grid  container  ep_mobileNav">
		    <!-- <div class="tablet mobile only row"> -->
		   	<div class="mobile only row">
		   		<div class="ui fluid buttons">
			  		<button id="prevBtn" class="ui button"><i class="backward icon"></i></button>
			  		<!-- <div class="or"></div> -->
					<a href="#" id="epSave" class="js_save"><div class="or _save"></div></a>
				  	<button id="nextBtn" class="ui positive button"><i class="forward icon"></i></button>
				</div>
		  	</div><!--tablet only row-->
		</div><!-- grid-->
	</div>


	  <!-- save task confirmation dialog -->
	<div class="ui small basic test modal">
	    <div class="ui icon header">
	      <i class="archive icon"></i>
	      Sačuvaj novi task
	    </div>
	    <div class="content">
	      <p>Sačuvaj novi task i vrati se na listu taskova?</p>
	    </div>
	    <div class="actions">
	      <div class="ui red basic cancel inverted button">
	        <i class="remove icon"></i>
	        Ne
	      </div>
	      <div class="ui green ok inverted button">
	        <i class="checkmark icon"></i>
	        Da
	      </div>
	    </div>
	</div>


	<script>

		var newTask = {
			Pk_id : 0,		// Pk_id partnera
			Subject : "",
			nazivPartnera: "",
			Status: ""
		}

		/* HELPER Functions */

		/* partneri: Brza lista*/
		function initBrzaListaPartnera() {
			var brzaListaPartneriArr = JSON.parse(localStorage.getItem('newTask_partneri'));

			if (brzaListaPartneriArr) {
				// popuni listu brzih partnera - LocalStorage
	      		var blpSelectEl = document.getElementById('idPartneriBrzaLista'); // select#idPartneriBrzaLista
			    blpSelectEl.options.length = 0; /* reset */

				brzaListaPartneriArr.forEach(function(brzaListaPartner) {
					blpSelectEl.options[blpSelectEl.options.length] = new Option(brzaListaPartner.Naziv, brzaListaPartner.Pk_id);
				});

	      		$('select#idPartneriBrzaLista').change(function() {
					newTask["Pk_id"] = this.value; 											// odabrani partner
					newTask["nazivPartnera"] = this.options[this.selectedIndex].text;  // Jovica - dodao naziv partnera 
	      			$('input#idPartner').val( this.options[this.selectedIndex].text );  	// upisi odabranog p. u input (zbog validacije)
	      		});
	  		}

	  		var pListaiIsShown = (localStorage.getItem('newTask_pListaiIsShown')) ? JSON.parse(localStorage.getItem('newTask_pListaiIsShown')) : true;
	  		// if (!pListaiIsShown)
	  		// 	$('.ui.segment._1_2_brzaListaPartnera').addClass('hidden');

			/* otvaranje brze liste partnera */
      		$('[data-brzalistapartnera-visibility-toggler]').click(function() {
      		 	$('.ui.segment._1_2_brzaListaPartnera').transition('flip');
      		 	localStorage.setItem('newTask_pListaiIsShown', !pListaiIsShown);
      		});
	  	};

  		/* partneri: search - Odabrani Partner Callback f */
		function odabraniPartnerIzPretrageCallback(odabraniPartner, response) { 
			newTask["nazivPartnera"] = odabraniPartner.Naziv;  // Jovica - dodao naziv partnera
			newTask["Pk_id"] = odabraniPartner.Pk_id;
			//$('#idPartner').attr('data-partner-Pk_id', odabraniPartner.Pk_id); // za brisanje ?

			/* dodavanje u listu brzih partera*/
			var brzaListaPartneriArr = (localStorage.getItem('newTask_partneri')) ? JSON.parse(localStorage.getItem('newTask_partneri')) : [];

			//var existsAtPosition = brzaListaPartneriArr.findIndex(o => o.Pk_id === odabraniPartner.Pk_id);	// proveri da li vec postoji na brzoj listi
			var existsAtPosition = brzaListaPartneriArr.findIndex(function(o){return o.Pk_id === odabraniPartner.Pk_id});	// proveri da li vec postoji na brzoj listi
			console.log("existsAtPosition");
			console.log(existsAtPosition);
			if (existsAtPosition != -1)																		//  i ako postoji, obrisi ga
				brzaListaPartneriArr.splice(existsAtPosition, 1);
			brzaListaPartneriArr.unshift(odabraniPartner);													// dodaj ga kao prvog na brzoj listi
			localStorage.setItem('newTask_partneri', JSON.stringify(brzaListaPartneriArr.slice(0, 9)));				// sacuvaj listu

			initBrzaListaPartnera();																		// reinit, prikazi novu listu u HTMLu
		}

		/* ui form validation; bool */
		function isFormValid() {
			$('.ui.form')
			  .form({
			    fields: {
		          partnervalidation   : 'empty', 							// ui fields valdation rules
			      subjectvalidation   : 'empty', 							// ui fields valdation rules
			    },
	            prompt : 'obavezno polje'
			  })
			;

			var formIsValid = $('.ui.form').form('is valid');

			if (!formIsValid) {
				console.warn('forma nije validna, oboji nedostajuca polja');

				$('.ui.form').form('validate form'); 										// validate form and mark fileds with errors

				$("form :input, #idPartneriBrzaLista, textarea#taskSubject").on("input change  ", function() {	// recolor on every input filed change
					$('.ui.form').form('validate form');
				});
				

				/* mobile layout handling */
				var partnerIsValid = $('.ui.form').form('is valid', 'partnervalidation');
				var subjectIsValid = $('.ui.form').form('is valid', 'subjectvalidation');
				var partnerGroupIsActive = document.querySelectorAll('.ep_novitask.grupa')[0].classList.contains('active');
				var subjectGroupIsActive = document.querySelectorAll('.ep_novitask.grupa')[1].classList.contains('active');

				if (subjectGroupIsActive & subjectIsValid & !partnerIsValid)    // mobile: if partner is not valid, focus on partner field
			 		prevBtnEl.click();

				if (partnerGroupIsActive & partnerIsValid & !subjectIsValid)
			 		nextBtnEl.click();							// mobile: if subjct is not valid, focus on subject field
			};

			return formIsValid; //bool
		}

		/* save \ validate \ post */
  		function saveNewTask() {
			var formIsValid = isFormValid();

			if (formIsValid) {

      			newTask["Subject"] = ( "WEB " + document.getElementById("taskSubject").value ).substring(0,250);
      			newTask["Status"]  = document.getElementById('taskStatus').value;

				$.ajax({
				    type: "POST",
				    url: "/tasks",
				    data: newTask,
				    success: function(msg){
						window.open('/tasks/taskOverview', '_self');
				    },
				    error: function(XMLHttpRequest, textStatus, errorThrown) {
				       alert("some error: " +textStatus+ " - " +errorThrown);
				    }
				});
			}; // validation end

  		};

  		function saveNewTaskPitalica() {
			var formIsValid = isFormValid();
			if (formIsValid)
  				$('.ui.basic.test.modal')
				  .modal({
				    closable  : true,
				    //autofocus : true,
				    onApprove : saveNewTask
				  })
				  .modal('show')
				;
  		};
		/* END HELPER Functions */


		function setup() {

      		/* Partneri: search ui */
      		$('.ui.dropdown')
			  .dropdown()
			;

			$('.ui.search')
				.search({
				    minCharacters : 3,
				    maxResults: 0,
				    cache: true,
    				encodeParameters: false,
				    apiSettings : {
				      	url : '/tasks/searchpartners/{query}',
					    beforeSend : function(settings) {
					        settings.urlData.query = settings.urlData.query.substring(0,28); // skracujem search string na max 28 karaktera
      						return settings;
					    },
				        // onResponse: function(response) {
					       //  return response;
				        // },
				    },
				    /* remapiram polja */
				    fields: {
				      results : 'results',
				      title   : 'Naziv',
				      description : 'Naziv_Mesto',
				      price   : 'Pk_id',
				    },
				    onSelect: odabraniPartnerIzPretrageCallback
				});

      		/* Partneri: brza lista */
	  		initBrzaListaPartnera();


      		/* Subject: quick list CS\HW toggle */

			// selector cache
			// var
			//   $btns = $('.ui.toggle.button'),
			//   // alias
			//   btnHandler = {

			//     activate: function() {
			//       $(this)
   //    				.addClass('active')
   //    				.siblings()
   //    				.removeClass('active');
			//     },

			//     activateAndSwitchTab: function() {
			//     	btnHandler.activate();
			// 		var tab = $(this).data('tab');
			//     	$('.tabular.menu .item[data-tab='+tab+']').click();
		 //    	}

			//   }
			// ;

			// $btns
			//     .on('click', btnHandler.activateAndSwitchTab)
			// 	//.state()
			// ;

			/* Subject: onclick btns vs tabs */
			// $('.tabular.menu .item').click(function() {
			// 	var tab = $(this).data('tab');
		 //    	var btnEl = $('.ui.toggle.button[data-tab='+tab+']');
		 //    	btnHandler.activate.call(btnEl);
		 //    });

      		/* Subject: init cs\hw tabs... main tab and hw\cs secondary tabs  */
			$('.tabular.menu .item').tab().on('click', function() {
				var activeTab = $(this).data('tab'); // ex. cs, cs-kor,  hw, hw-fp ...
	  			localStorage.setItem('newTask_opisActiveTab', activeTab);		// save active tab: localStorage
			    set_cookie('newTask_opisActiveTab', activeTab, 60 * 24 * 30);   // save active tab: cookie
			    $('.ui.tab['+activeTab+'] select').trigger('mousedown')
			});

      		/* Subject: quick list choice */
      		var taskSubjectSelectEls = document.getElementsByName('task[Subject]');
			var taskSubjectEl        = document.getElementById("taskSubject");

			Array.prototype.forEach.call(taskSubjectSelectEls, function(el, i){
	      		el.addEventListener('change', function() {
					var selectedQuickText = this.options[this.selectedIndex].text;
					taskSubjectEl.value = selectedQuickText;
					taskSubjectEl.focus();
					$('.ui.form').form('validate form');     // clear error colors
	      		});
      		});


      		/* Mobile layout navigacija */
		    var activeTaskGroupEl = document.querySelector('.ep_novitask.grupa.active');
      		prevBtnEl = document.getElementById('prevBtn');
      		nextBtnEl = document.getElementById('nextBtn');

      		prevBtnEl.addEventListener('click', function() {
  				var prevTaskGroupEl = activeTaskGroupEl.previousElementSibling;
      			if (prevTaskGroupEl) { // test if 1st segment
      				activeTaskGroupEl.classList.toggle('active');
      				prevTaskGroupEl.classList.toggle('active');
      				activeTaskGroupEl = prevTaskGroupEl;
      			} else {
      				console.warn('prvi el ... nema nazad... save pitalica');
      				saveNewTaskPitalica();
      			}
      		});

      		nextBtnEl.addEventListener('click', function() {
  				var nextTaskGroupEl = activeTaskGroupEl.nextElementSibling;
      			if (nextTaskGroupEl) { // test if last segment
      				activeTaskGroupEl.classList.toggle('active');
      				nextTaskGroupEl.classList.toggle('active');
      				activeTaskGroupEl = nextTaskGroupEl;
      			} else {
      				console.warn('poslednji ... save pitalica');
      				saveNewTaskPitalica();
      			}
      		});

      		/* SAVE */
		    var saveBtnEls = document.getElementsByClassName('js_save');
      		saveBtnEls[0].addEventListener('click', saveNewTaskPitalica);	// save desktop btn
      		saveBtnEls[1].addEventListener('click', saveNewTaskPitalica);   // save mobile btn
		}

		window.onload = setup;

	</script>
<%- include('partials/footer') %>